.todo-list li .icon-pause,
.todo-list li .icon-play {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.todo-list li .icon-play {
    font-size: 15px;
}

.icon-pause:after {
    content: '⏸';
}

.icon-play:after {
    content: '▶';
}

.todo-list li label .description {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 13px;
    color: gray;
}

.position__timer {
    position: absolute;
    left: 300px;
    bottom: 27px;
}